@import "tailwindcss";

@theme {
  --color-primary: #1A4670;
  --color-secondary: #4D8C40;
  --color-tertiary: #76B947;
  --color-neutral-bg: #F8F9FA;

  --font-heading: "Hanken Grotesk", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    font-family: var(--font-sans, 'Inter', sans-serif);
    background-color: #F8F9FA;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading, 'Hanken Grotesk', sans-serif);
  }
}
